<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EXUpdatesCheckOnLaunch</key>
    <string>ALWAYS</string>
    <key>EXUpdatesCodeSigningCertificate</key>
    <string>-----BEGIN CERTIFICATE-----&#xD;
MIIC2zCCAcOgAwIBAgIJBJSOKpRloGJCMA0GCSqGSIb3DQEBCwUAMBcxFTATBgNV&#xD;
BAMTDEUyRSBUZXN0IEFwcDAeFw0yMjExMjgyMDQwMzFaFw0yMzExMjgyMDQwMzFa&#xD;
MBcxFTATBgNVBAMTDEUyRSBUZXN0IEFwcDCCASIwDQYJKoZIhvcNAQEBBQADggEP&#xD;
ADCCAQoCggEBAKkwohlK8ApTPob57hwC+xUeM1csVGf6QLtLYwHzabrcCHXkB8P8&#xD;
g+f10eA7qBiIHsmeRCga24VEHr7qbZ8JAHMOnumk0Lh9KuiJpPEC0/KoTmpoiYQu&#xD;
hBtW56Gy13Jd0VogFumfx2RiRNUugbruyuzc0D7630Fl47xtGzZsqZR6NUAYTm/Y&#xD;
hEZ3cc3nDacyzK4BAvu4tv1M6rLhe5JSqDFDwV1LgfDeHRswPuRogMDA2VAvgJAR&#xD;
zCWmxImun2UdIlOVR8imd0jj0mNf+Y06sFDXZo9b4A7Z3dk6qr0lHiUWR1yvDTNq&#xD;
b20Gl2mO0lwJQ8E5hd89LoWQrudJJMHSxR0CAwEAAaMqMCgwDgYDVR0PAQH/BAQD&#xD;
AgeAMBYGA1UdJQEB/wQMMAoGCCsGAQUFBwMDMA0GCSqGSIb3DQEBCwUAA4IBAQAR&#xD;
XpIUhFuTNnwvRRxF1FNlQEbm3nKrIDrlRTzRDBrrEzbfcqlC2Bl+J1UqhVI3nGMj&#xD;
Bq5XiK1gapVv7zFZOg80pk0f3Xcyye+qad3NDBm3xwgX092PBRQpKBMTjf83klF8&#xD;
dtjQzjo/qeExHD33w5grRfTHcS/2L4k5gJMyQXvK7UzD7oO2jVsW5KdYD28PJdJ8&#xD;
6Up5GnmUL29TZynXdIyVbCFrh76vSRbxiNyOSQeFZs1v1uqyowhTSXNkXhmnS84l&#xD;
z8EnvWuzqIrTTsF/zfwSE/W0OM0cplYkwnpdQVpxumdRBnS8W0KY/+LLKs5vMkz2&#xD;
jukgUoXm23DHaiqjbEGt&#xD;
-----END CERTIFICATE-----&#xD;
</string>
    <key>EXUpdatesCodeSigningMetadata</key>
    <dict>
      <key>keyid</key>
      <string>main</string>
      <key>alg</key>
      <string>rsa-v1_5-sha256</string>
    </dict>
    <key>EXUpdatesEnabled</key>
    <true/>
    <key>EXUpdatesLaunchWaitMs</key>
    <integer>0</integer>
    <key>EXUpdatesRuntimeVersion</key>
    <string>1.0.0</string>
    <key>EXUpdatesURL</key>
    <string>http://localhost:4747/update</string>
  </dict>
</plist>